body
{
    background: rgb(111,35,99);
background: radial-gradient(circle, rgba(111,35,99,0.9906337535014006) 10%, rgba(29,34,142,1) 45%, rgba(29,55,191,1) 58%, rgba(34,29,73,1) 100%);
color:white
}

.heading
{
    width:75%;
    font-family: 'Noto Serif Display', serif;
    font-size: 30px;
}

#camera
{
 border:2px dashed white;
 width:350px;
height:300px;
}